.logo__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo__img {
  width: 44px;
  height: 44px;
}

.logo__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  color: #333333;
  margin-left: 24px;
}