.about {
  padding: 183px 553px 183px 90px;
  background-color: #D8ECFE;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  width: 446px;
  height: 447px;
  background: url(../../../assets/ellipse.svg);
  right: 90px;
  top: 76px;
}

.about::after {
  content: "";
  position: absolute;
  width: 273px;
  height: 627px;
  background: url(../../../assets/front-human.svg);
  background-repeat: no-repeat;
  right: 177px;
  top: 37px;
}

.about__text {
  width: 538px;
  margin: 24px 0 0 0;
}